@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.itinerary-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc($mobile-padding * 2) $mobile-padding;
  gap: $mobile-padding;
  background-color: #9db9db;
  background-color: $color-sand-beige;

  @include tablet {
    flex-direction: row;
  }

  &__input {
    // flex: 1;
    @include tablet {
      width: 50%;
    }
  }
  &__button {
    @include tablet {
      width: 55%;
    }
  }
}
