// Breakpoints
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

$desktop-max-width: 80rem;

$mobile-page-header-font-weight: 700;
$tablet-page-header-font-weight: 700;
$mobile-subheader-font-weight: 600;
$tablet-subheader-font-weight: 600;
$mobile-body-font-weight: 400;
$tablet-body-font-weight: 400;

$mobile-font-size-h1: 1.75rem;
$mobile-font-size-h2: 1.5rem;
$mobile-font-size-h3: 1.25rem;
$mobile-font-size-h4: 1rem;
$mobile-font-size-button: 0.9rem;
$mobile-font-size-p: 0.875rem;

$mobile-line-height-h1: 2.25rem; // =40px
$mobile-line-height-h2: 1.75rem; // =32px
$mobile-line-height-h3: 1.5rem; // =22px
$mobile-line-height-h4: 1.25rem; // =18px
$mobile-line-height-p: 1.1rem; // =18px

$tablet-font-size-h1: 3rem;
$tablet-font-size-h2: 1.75rem;
$tablet-font-size-h3: 1.5rem;
$tablet-font-size-nav-items: 1rem;
$tablet-font-size-h4: 1.2rem;
$tablet-font-size-p: 1rem;

$tablet-line-height-h1: 3.5rem; // =40px
$tablet-line-height-h2: 2rem; // =32px
$tablet-line-height-h3: 1.5rem; // =22px
$tablet-line-height-h4: 1.5rem; // =18px
$tablet-line-height-p: 1.125rem; // =18px

$color-primary-black: #13182c;
$color-primary-indigo: #2e66e5;
$color-primary-white: #ffffff;
$color-primary-button: #3c5073;
$color-ocean-blue: #0077b6;
$color-sunset-orange: #f77f00;
$color-sand-beige: #f4e1d2;
$color-palm-green: #4caf50;
$color-sunshine-yellow: #ffd60a;
$color-cloud-white: #f9f9f9;
$color-slate-gray: #6c757d;

$mobile-padding: 1rem;
$mobile-padding-header: 1.5rem;
$tablet-padding-side: 2rem;
$tablet-padding: 1.5rem;

//logo size
$mobile-logo-size: 3rem;
$mobile-logo-size: 3rem;

$border-radius: 1rem;
$card-border-radius: 1rem;
