@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.country-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;

  &__title {
    color: $color-primary-white;
    padding: 0 $mobile-padding;
    overflow-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
