@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: sans-serif;
}

h1 {
  @include mobile-page-header;
  @include tablet {
    @include tablet-page-header;
  }
}

h2 {
  @include mobile-section-header;
  @include tablet {
    @include tablet-section-header;
  }
}

h3 {
  @include mobile-sub-header;
  @include tablet {
    @include tablet-sub-header;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
